{% extends 'base.html' %} 
{% block titulo %} Comunicación {% endblock %}
{% block contenido %}
{% load static %}
<div>
    <table cellspacing="0" cellpadding="0" style="width:100%; border:0.75pt outset #eeeeee;">
        <tbody>
            <tr>
                <td style="width:60%; border:0.75pt inset #eeeeee; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><span style="height:0pt; text-align:left; display:block; position:absolute; z-index:0;"><img src="https://myfiles.space/user_files/182495_e28735635cebc3e7/1699474648_caracterizacin-de-procesos-unisanpablo-comunicacin/1699474648_caracterizacin-de-procesos-unisanpablo-comunicacin-1.png" width="162" height="53" alt="Fundación Universitaria San Pablo" style="margin: 0 0 0 auto; display: block; "></span><strong><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></strong><strong><span style="font-family:Arial;">CARACTERIZACI&Oacute;N DE PROCESOS UNISANPABLO</span></strong></p>
                </td>
                <td style="width:20%; border:0.75pt inset #eeeeee; padding-left:3.75pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><strong><span style="font-family:Arial;">C&oacute;digo: CR-</span></strong></p>
                </td>
            </tr>
            <tr>
                <td style="border:0.75pt inset #eeeeee; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></strong><strong><span style="font-family:Arial;">RELACIONES INTERINSTITUCIONALES</span></strong></p>
                </td>
                <td style="border:0.75pt inset #eeeeee; padding-left:3.75pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><strong><span style="font-family:Arial;">Versi&oacute;n: 1</span></strong></p>
                </td>
            </tr>
            <tr>
                <td style="border:0.75pt inset #eeeeee; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></strong><strong><span style="font-family:Arial;">COMUNICACI&Oacute;N</span></strong></p>
                </td>
                <td style="border:0.75pt inset #eeeeee; padding-left:3.75pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><strong><span style="font-family:Arial;">Fecha:&nbsp;</span></strong></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:normal; font-size:12pt;"><span style="font-family:'Times New Roman'; display:none;">&nbsp;</span></p>
    <table cellspacing="0" cellpadding="0" style="width:100%; border:0.75pt outset #eeeeee;">
        <tbody>
            <tr>
                <td colspan="2" style="border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:middle; background-color:#3f94ab;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial; color:#ffffff;">PROCESO</span></strong></p>
                </td>
            </tr>
            <tr>
                <td style="width:50%; border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><strong><span style="font-family:Arial;">NOMBRE:</span></strong></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">Comunicaci&oacute;n</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                </td>
                <td style="width:50%; border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:top;">
                    <table cellspacing="2" cellpadding="0" style="width:100%; border-spacing:1.5pt;">
                        <tbody>
                            <tr>
                                <td style="width:0.3pt; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><strong><span style="font-family:Arial;">ALCANCE:</span></strong></p>
                                </td>
                                <td style="width:307.95pt; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">Inicia con actividades de planeación, ejecución, evaluación y mejora, este proceso de comunicación busca impactar en la apropiación. </span></p>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><strong><span style="font-family:Arial;">OBJETIVO:</span></strong></p>
                    <p style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:11pt;"><span style="font-family:Arial;">Coordinar las actividades de comunicación institucional interna y externa, a través de la difusión y publicación oportuna de la información generada por la Universidad y de interés general de la misma, con el fin de garantizar la visibilidad, el posicionamiento y el mejoramiento de la imagen institucional. </span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                    <table cellspacing="2" cellpadding="0" style="width:100%; border-spacing:1.5pt;">
                        <tbody>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                                <td style="width:100%; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><br></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:normal; font-size:12pt;"><span style="font-family:'Times New Roman'; display:none;">&nbsp;</span></p>
    <table cellspacing="0" cellpadding="0" style="width:100%; border:0.75pt outset #eeeeee;">
        <tbody>
            <tr style="height:11.25pt;">
                <td style="width:15%; border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:middle; background-color:#3f94ab;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial; color:#ffffff;">PROVEEDORES</span></strong></p>
                </td>
                <td style="width:15%; border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:middle; background-color:#3f94ab;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial; color:#ffffff;">ENTRADAS</span></strong></p>
                </td>
                <td style="width:10%; border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:middle; background-color:#3f94ab;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial; color:#ffffff;">PHVA</span></strong></p>
                </td>
                <td style="width:30%; border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:middle; background-color:#3f94ab;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial; color:#ffffff;">DESCRIPCI&Oacute;N</span></strong></p>
                </td>
                <td style="width:15%; border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:middle; background-color:#3f94ab;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial; color:#ffffff;">SALIDAS</span></strong></p>
                </td>
                <td style="width:15%; border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:middle; background-color:#3f94ab;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial; color:#ffffff;">CLIENTES</span></strong></p>
                </td>
            </tr>
            <tr>
                <td rowspan="4" style="border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:top;">
                    <table cellspacing="2" cellpadding="0" style="width:100%; border-spacing:1.5pt;">
                        <tbody>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial; color:#ffffff;">&nbsp;</span></strong></p>
                                </td>
                                <td style="width:100%; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">EXTERNOS</span></strong></p>
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">(P1) Entidades gubernamentales o del sector privado.</span><br><span style="font-family:Arial;">(P2) Redes universitarias y asociaciones del sector educativo.</span><br><span style="font-family:Arial;">(P3) Medios de comunicaci&oacute;n externos.</span></p>
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">INTERNOS</span></strong><span style="font-family:Arial;">.</span></p>
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">(P4) Proceso Planeaci&oacute;n Estrat&eacute;gica.</span></p>
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">(P5) Proceso Aseguramiento de la Calidad de los procesos.</span><br><span style="font-family:Arial;">(P6) Proceso Gesti&oacute;n Editorial.</span></p>
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">(P7) Proceso Comercialización y Ventas</span><br><span style="font-family:Arial;">(P8) Todos los procesos.</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><br></p>
                </td>
                <td rowspan="4" style="border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:top;">
                    <table cellspacing="2" cellpadding="0" style="width:100%; border-spacing:1.5pt;">
                        <tbody>
                            <tr>
                                <td style="width:0.3pt; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="font-family:'Times New Roman';">&nbsp;</span></p>
                                </td>
                                <td style="width:79.75pt; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:108%; font-size:11pt;"><span style="font-family:Arial;">(E1) Agendas p&uacute;blicas.</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:108%; font-size:11pt;"><span style="font-family:Arial;">(E2, E3) Informaci&oacute;n de inter&eacute;s del sector, investigaci&oacute;n, docencia y proyecci&oacute;n social.</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:108%; font-size:11pt;"><span style="font-family:Arial;">(E4) Necesidades de comunicaci&oacute;n estrat&eacute;gicas.</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:108%; font-size:11pt;"><span style="font-family:Arial;">(E5) Caracterización de proceso creado o mejorado</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:108%; font-size:11pt;"><span style="font-family:Arial;">(E6) Cat&aacute;logo de Publicaciones.</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:108%; font-size:11pt;"><span style="font-family:Arial;">(E7) Plan de Divulgación de campaña por periodo de matrícula a nivel orgánico.</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:108%; font-size:11pt;"><span style="font-family:Arial;">(E8) Necesidades de comunicación de acuerdo a los planes operativos.</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:108%; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                </td>
                <td style="border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong><span style="font-family:Arial;">P</span></strong></p>
                </td>
                <td style="border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:top;">
                    <table cellspacing="2" cellpadding="0" style="width:100%; border-spacing:1.5pt;">
                        <tbody>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                                <td style="width:100%; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">1.&nbsp;</span></strong><span style="font-family:Arial;">Estructurar el Modelo Estrat&eacute;gico de Comunicaci&oacute;n.</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">2.</span></strong><span style="font-family:Arial;">&nbsp;Formular y mantener la Política de Comunicaciones a través del Plan Estratégico de Comunicaciones y la formulación de sus Planes de Acción.</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">3</span></strong><span style="font-family:Arial;">. Identificar necesidades de comunicaci&oacute;n</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">4.</span></strong><span style="font-family:Arial;">&nbsp;Diseñar plan integral de comunicación interna y externa.</span></p>
                </td>
                <td rowspan="4" style="border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:top;">
                    <table cellspacing="2" cellpadding="0" style="width:100%; border-spacing:1.5pt;">
                        <tbody>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="font-family:'Times New Roman';">&nbsp;</span></p>
                                </td>
                                <td style="width:100%; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">(S1, S2, S3, S4, S5, S6, S7, S12, S13) Modelo Estratégico de Comunicación Corporativa.</span>
                                    <br>
                                    <span style="font-family:Arial;">(S7, S12, S13) Plan integral de comunicación interna y externa</span>
                                    <br>
                                    <span style="font-family:Arial;">(S4, S9, S10) Plan de Relaciones Públicas</span>
                                    <br>
                                    <span style="font-family:Arial;">(S13) Uso y aplicaci&oacute;n de imagen y marca institucional.</span>
                                    <br>
                                    <span style="font-family:Arial;">(S13) Manejo de Voceros.</span>
                                    <br>
                                    <span style="font-family:Arial;">(S13) Asesor&iacute;a integral en comunicaci&oacute;n.</span><br><span style="font-family:Arial;">(S8) Medici&oacute;n y evaluaci&oacute;n de canales de comunicaci&oacute;n.</span><br><span style="font-family:Arial;">(S8) Informe del Modelo Estratégico de Comunicación.</span><br><span style="font-family:Arial;">(S8, S11) Resultados de la medici&oacute;n de posicionamiento y prestigio.</span><br><span style="font-family:Arial;">(S8, S13) informes de seguimiento.</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><br></p>
                </td>
                <td rowspan="4" style="border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:top;">
                    <table cellspacing="2" cellpadding="0" style="width:100%; border-spacing:1.5pt;">
                        <tbody>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="font-family:'Times New Roman';">&nbsp;</span></p>
                                </td>
                                <td style="width:100%; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">EXTERNOS</span></strong></p>
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">(C1) IES nacionales e internacionales.</span><br><span style="font-family:Arial;">(C2) Entidades gubernamentales y no gubernamentales.</span><br><span style="font-family:Arial;">(C3) Entidades p&uacute;blicas y privadas.</span><br><span style="font-family:Arial;">(C4) Medios de comunicaci&oacute;n externos.</span><br><span style="font-family:Arial;">(C5) Aspirantes</span><br><span style="font-family:Arial;">(C6) Estudiantes.</span><br><span style="font-family:Arial;">(C7) Graduados.</span></p>
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">INTERNOS</span></strong></p>
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">(C8) Proceso Planeaci&oacute;n Estrat&eacute;gica.</span><br><span style="font-family:Arial;">(C9) Proceso Alianzas e Iniciativas Estrat&eacute;gicas.</span><br><span style="font-family:Arial;">(C10) Proceso de Asuntos Globales.</span><br><span style="font-family:Arial;">(C11) Proceso Inteligencia de Mercado.</span><br><span style="font-family:Arial;">(C12) Proceso Relación con Egresados y Graduados</span><br><span style="font-family:Arial;">(C16) Todos los procesos.</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><br></p>
                </td>
            </tr>
            <tr>
                <td style="border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong><span style="font-family:Arial;">H</span></strong></p>
                </td>
                <td style="border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:top;">
                    <table cellspacing="2" cellpadding="0" style="width:100%; border-spacing:1.5pt;">
                        <tbody>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                                <td style="width:100%; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">5.</span></strong><span style="font-family:Arial;">&nbsp;Socializar el Modelo Estrat&eacute;gico ** Comunicaci&oacute;n.</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">6.</span></strong><span style="font-family:Arial;">&nbsp;Promover la participación oral y escrita con inclusión de la comunidad en general, a través de los medios de la Universidad posicionándola y desarrollando Eventos, Foros, Seminarios, Revistas, Páginas Web, Libros, Programas radiales, entre otros. </span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">7.</span></strong><span style="font-family:Arial;">&nbsp;Presentar y aprobar el plan integral de comunicaci&oacute;n interna y externa.</span></p>
                </td>
            </tr>
            <tr>
                <td style="border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong><span style="font-family:Arial;">V</span></strong></p>
                </td>
                <td style="border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">9.</span></strong><span style="font-family:Arial;">&nbsp;Verificar la ejecuci&oacute;n del plan integral de comunicaci&oacute;n interna y externa.</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">10.</span></strong><span style="font-family:Arial;">&nbsp;Presentar resultados del plan integral de comunicación interna y externa.</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">11.</span></strong><span style="font-family:Arial;">&nbsp;Generar informes de seguimiento de la planeación y gestión del proceso.</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">12</span></strong><span style="font-family:Arial;">. Realizar el seguimiento al impacto de las acciones realizadas tendientes al posicionamiento de la Universidad.</span></p>
                </td>
            </tr>
            <tr>
                <td style="border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong><span style="font-family:Arial;">A</span></strong></p>
                </td>
                <td style="border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">13.</span></strong><span style="font-family:Arial;">&nbsp;Establecer Plan de Mejoramiento (Acciones Correctivas y Preventivas).</span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:normal; font-size:12pt;"><span style="font-family:'Times New Roman'; display:none;">&nbsp;</span></p>
    <table cellspacing="0" cellpadding="0" style="width:100%; border:0.75pt outset #eeeeee;">
        <tbody>
            <tr>
                <td style="width:50%; border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:middle; background-color:#3f94ab;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial; color:#ffffff;">REQUISITOS LEGALES Y NORMATIVOS</span></strong></p>
                </td>
                <td style="width:50%; border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:middle; background-color:#3f94ab;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial; color:#ffffff;">DIAGRAMA DE PROCESO - ROLES Y RESPONSABILIDADES</span></strong></p>
                </td>
            </tr>
            <tr>
                <td style="border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:middle;">
                    <table cellspacing="2" cellpadding="0" style="width:100%; border-spacing:1.5pt;">
                        <tbody>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><strong><span style="width:35.4pt; font-family:Arial; display:inline-block;">&nbsp;</span></strong><span style="font-family:Arial;">&bull; Plan de Desarrollo Institucional</span></p>
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="width:35.4pt; font-family:Arial; display:inline-block;">&nbsp;</span><span style="font-family:Arial;">&bull; Matriz de requisitos ISO</span></p>
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="width:35.4pt; font-family:Arial; display:inline-block;">&nbsp;</span><span style="font-family:Arial;">&bull; Ver requisitos legales y normativos</span></p>
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="width:35.4pt; font-family:Arial; display:inline-block;">&nbsp;</span><span style="font-family:Arial;">&bull; Ver Matriz de alineación de los procesos del Plan de Desarrollo Institucional </span></p>
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><br></p>
                </td>
                <td style="border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:middle;">
                    <table cellspacing="2" cellpadding="0" style="width:100%; border-spacing:1.5pt;">
                        <tbody>
                            <tr>
                                <td style="width:0.3pt; padding:0.75pt; vertical-align:top;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="font-family:'Times New Roman';">&nbsp;</span></p>
                                </td>
                                <td style="width:307.95pt; padding:0.75pt; vertical-align:top;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&bull; Ver diagrama de flujo</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial; display:none;">&nbsp;</span></p>
                    <table cellspacing="2" cellpadding="0" style="width:100%; border-spacing:1.5pt;">
                        <tbody>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                                <td style="width:100%; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><br></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:normal; font-size:12pt;"><span style="font-family:'Times New Roman'; display:none;">&nbsp;</span></p>
    <table cellspacing="0" cellpadding="0" style="width:100%; border:0.75pt outset #eeeeee;">
        <tbody>
            <tr>
                <td style="width:50%; border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:middle; background-color:#3f94ab;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial; color:#ffffff;">INDICADORES</span></strong></p>
                </td>
                <td style="width:50%; border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:middle; background-color:#3f94ab;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial; color:#ffffff;">REQUISITOS Y NECESIDADES DE LAS PARTES INTERESADAS </span></strong></p>
                </td>
            </tr>
            <tr>
                <td style="border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial; display:none;">&nbsp;</span></p>
                    <table cellspacing="2" cellpadding="0" style="width:100%; border-spacing:1.5pt;">
                        <tbody>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                                <td style="width:100%; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">Indicadores</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><br></p>
                </td>
                <td style="border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:middle;">
                    <table cellspacing="2" cellpadding="0" style="width:100%; border-spacing:1.5pt;">
                        <tbody>
                            <tr>
                                <td style="width:0.3pt; padding:0.75pt; vertical-align:top;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                                <td style="width:307.95pt; padding:0.75pt; vertical-align:top;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&bull; Matriz de partes interesadas pertinentes UNISANPABLO</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><br></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:normal; font-size:12pt;"><span style="font-family:'Times New Roman'; display:none;">&nbsp;</span></p>
    <table cellspacing="0" cellpadding="0" style="width:100%; border:0.75pt outset #eeeeee;">
        <tbody>
            <tr>
                <td style="border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:middle; background-color:#3f94ab;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial; color:#ffffff;">DOCUMENTOS ASOCIADOS</span></strong></p>
                </td>
            </tr>
            <tr>
                <td style="border:0.75pt inset #eeeeee; padding:3.75pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial; display:none;">&nbsp;</span></p>
                    <table cellspacing="2" cellpadding="0" style="width:100%; border-spacing:1.5pt;">
                        <tbody>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                                <td style="width:100%; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="font-family:'Times New Roman';">&nbsp;</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial; display:none;">&nbsp;</span></p>
                    <table cellspacing="2" cellpadding="0" style="width:100%; border-spacing:1.5pt;">
                        <tbody>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                                <td style="width:100%; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="font-family:'Times New Roman';">&nbsp;</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><br></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:normal; font-size:12pt;"><span style="font-family:'Times New Roman'; display:none;">&nbsp;</span></p>
    <div style="text-align:center;">
        <table cellspacing="0" cellpadding="0" style="width:100%; margin-right:auto; margin-left:auto; border:0.75pt outset #eeeeee;">
            <tbody>
                <tr>
                    <td style="width:15%; border:0.75pt inset #eeeeee; vertical-align:middle; background-color:#3f94ab;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial; color:#ffffff;">VERSI&Oacute;N</span></strong></p>
                    </td>
                    <td style="width:15%; border:0.75pt inset #eeeeee; vertical-align:middle; background-color:#3f94ab;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial; color:#ffffff;">FECHA</span></strong></p>
                    </td>
                    <td style="width:70%; border:0.75pt inset #eeeeee; vertical-align:middle; background-color:#3f94ab;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial; color:#ffffff;">RAZ&Oacute;N DE LA ACTUALIZACI&Oacute;N</span></strong></p>
                    </td>
                </tr>
                <tr>
                    <td style="width:15%; border:0.75pt inset #eeeeee; vertical-align:middle;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><span style="font-family:Arial;">1</span></p>
                    </td>
                    <td style="width:15%; border:0.75pt inset #eeeeee; vertical-align:middle;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                    </td>
                    <td style="width:70%; border:0.75pt inset #eeeeee; vertical-align:middle;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;"><span style="font-family:Arial;">Creaci&oacute;n del proceso</span></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:normal; font-size:12pt;"><span style="font-family:'Times New Roman'; display:none;">&nbsp;</span></p>
    <table cellspacing="0" cellpadding="0" style="width:100%; border:0.75pt outset #eeeeee;">
        <tbody>
            <tr>
                <td style="width:34%; border:0.75pt inset #eeeeee; padding:0.75pt; vertical-align:middle; background-color:#3f94ab;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial; color:#ffffff;">ELABOR&Oacute;</span></strong></p>
                </td>
                <td style="width:34%; border:0.75pt inset #eeeeee; padding:0.75pt; vertical-align:middle; background-color:#3f94ab;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial; color:#ffffff;">REVIS&Oacute;</span></strong></p>
                </td>
                <td style="width:34%; border:0.75pt inset #eeeeee; padding:0.75pt; vertical-align:middle; background-color:#3f94ab;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial; color:#ffffff;">APROB&Oacute;</span></strong></p>
                </td>
            </tr>
            <tr>
                <td style="border:0.75pt inset #eeeeee; padding:0.75pt; vertical-align:top;">
                    <table cellspacing="2" cellpadding="0" style="width:100%; border-spacing:1.5pt;">
                        <tbody>
                            <tr>
                                <td style="width:25%; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">Nombre:</span></strong></p>
                                </td>
                                <td style="width:75%; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">Cargo:</span></strong></p>
                                </td>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">Fecha:</span></strong></p>
                                </td>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><br></p>
                </td>
                <td style="border:0.75pt inset #eeeeee; padding:0.75pt; vertical-align:top;">
                    <table cellspacing="2" cellpadding="0" style="width:100%; border-spacing:1.5pt;">
                        <tbody>
                            <tr>
                                <td style="width:25%; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">Nombre:</span></strong></p>
                                </td>
                                <td style="width:75%; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">Cargo:</span></strong></p>
                                </td>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">Fecha:</span></strong></p>
                                </td>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                    <table cellspacing="2" cellpadding="0" style="width:100%; border-spacing:1.5pt;">
                        <tbody>
                            <tr>
                                <td style="width:25%; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">Nombre:</span></strong></p>
                                </td>
                                <td style="width:75%; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">Cargo:</span></strong></p>
                                </td>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">Fecha:</span></strong></p>
                                </td>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                    <table cellspacing="2" cellpadding="0" style="width:100%; border-spacing:1.5pt;">
                        <tbody>
                            <tr>
                                <td style="width:25%; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">Nombre:</span></strong></p>
                                </td>
                                <td style="width:75%; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">Cargo:</span></strong></p>
                                </td>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">Fecha:</span></strong></p>
                                </td>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><br></p>
                </td>
                <td style="border:0.75pt inset #eeeeee; padding:0.75pt; vertical-align:top;">
                    <table cellspacing="2" cellpadding="0" style="width:100%; border-spacing:1.5pt;">
                        <tbody>
                            <tr>
                                <td style="width:25%; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">Nombre:</span></strong></p>
                                </td>
                                <td style="width:75%; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">Cargo:</span></strong></p>
                                </td>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">Fecha:</span></strong></p>
                                </td>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                    <table cellspacing="2" cellpadding="0" style="width:100%; border-spacing:1.5pt;">
                        <tbody>
                            <tr>
                                <td style="width:25%; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">Nombre:</span></strong></p>
                                </td>
                                <td style="width:75%; padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">Cargo:</span></strong></p>
                                </td>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong><span style="font-family:Arial;">Fecha:</span></strong></p>
                                </td>
                                <td style="padding:0.75pt; vertical-align:middle;">
                                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><br></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:8pt;">&nbsp;</p>
</div>
{% endblock  %}