{% extends 'base.html' %}

{% load static %}

{% block titulo %} Calidad Integral {% endblock %}

{% block contenido %} 

<main>
    <section class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center"> </h1>
          </div>
          
      </section>
      <div class="text-center">
        <img src="{% static 'img/calidadacademicaprocesos.png' %}" usemap="#mapa" style="max-width: 100%; max-height: 50%; height: auto; width: auto; margin: 0 auto;" class="mx-auto">
      </div>
    <map name="mapa">

        <!-- PROCESOS MISIONALES-->

        <area shape="poly" coords="456,24,525,25,597,25,597,165,455,165"    href="{% url 'gestiondelservicioalusuario' %}" alt="gestiondelservicioalusuario">
        <area shape="poly" coords="711,25,781,24,852,25,852,165,711,164"    href="{% url 'auditorias' %}" alt="auditorias">
        <area shape="poly" coords="456,202,525,202,597,202,597,342,456,342" href="{% url 'gestiondelregistrocalificado' %}" alt="gestiondelregistrocalificado">
        <area shape="poly" coords="712,202,779,202,853,201,851,342,712,342" href="{% url 'aseguramientodelacalidadprocesos' %}" alt="aseguramientodelacalidaddeprocesos">
        <area shape="poly" coords="586,386,654,385,724,385,725,525,585,524" href="{% url 'aseguramientodelacalidadacademica' %}" alt="aseguramientodelacalidadacademica">


</main>
{% block footer %}
<!-- Contenido específico del pie de página para la página Ejemplo -->

{% endblock %}
{% endblock %}