{% extends 'base.html' %}

{% load static %}

{% block titulo %} Docencia de calidad {% endblock %}

{% block contenido %} 

<main>
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center"></h1>
            </div>
        </div>
    </section>

    <div class="text-center">
      <img src="{% static 'img/docenciacalidad.png' %}" usemap="#mapa" style="max-width: 100%; max-height: 50%; height: auto; width: auto; margin: 0 auto;" class="mx-auto">
    </div>

    <map name="mapa">
        <!-- PROCESOS MISIONALES-->
        <area shape="poly" coords="419,22,485,21,552,17,556,166,416,173" href="{% url 'docenciacalidad' %}" alt="Planeacion Estrategica">
    </map>
</main>

{% endblock %}
