{% extends 'base.html' %}

{% load static %}

{% block titulo %} Gestión de Juridica y contractual {% endblock %}

{% block contenido %} 

<main>
    <section class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center"> </h1>
          </div>
          
      </section>
      <div class="text-center">
        <img src="{% static 'img/gestionjuridica.png' %}" usemap="#mapa" style="max-width: 100%; max-height: 50%; height: auto; width: auto; margin: 0 auto;" class="mx-auto">
      </div>
    <map name="mapa">

        <!-- PROCESOS MISIONALES-->

        <area shape="poly" coords="514,34,578,35,656,31,658,215,515,210" href="{% url 'gestioncontractual' %}" alt="gestioncontractual">
     
        <area shape="poly" coords="745,34,810,35,884,34,886,214,746,212" href="{% url 'gesjuridica' %}" alt="gesjuridica">
       
</main>
{% endblock %}