{% extends 'base.html' %}

{% load static %}

{% block titulo %} Gestion administrativa y financiera {% endblock %}

{% block contenido %} 

<main>
    <section class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center"> </h1>
          </div>
          
      </section>
      <div class="text-center">
        <img src="{% static 'img/gestionadminfinanciera.png' %}?version=2" usemap="#mapa" style="max-width: 100%; max-height: 50%; height: auto; width: auto; margin: 0 auto;" class="mx-auto">
      </div>
    <map name="mapa">

        <!-- PROCESOS MISIONALES-->

        <area shape="poly" coords="518,16,581,15,656,14,659,196,517,193" href="{% url 'gestionrefinanciero' %}" alt="gestionrefinanciero">
        <area shape="poly" coords="749,17,809,15,887,13,890,195,748,193" href="{% url 'gestiondocumental' %}" alt="gestiondocumental">
       

</main>
{% endblock %}