{% extends 'base.html' %}

{% load static %}

{% block titulo %} Relaciones Interinstitucionales {% endblock %}

{% block contenido %} 

<main>
    <section class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center"> </h1>
          </div>
          
      </section>
      <div class="text-center">
        <img src="{% static 'img/relacionesinterinstitucionales.png' %}?version=2" usemap="#mapa" style="max-width: 100%; max-height: 50%; height: auto; width: auto; margin: 0 auto;" class="mx-auto">
      </div>
    <map name="mapa">

        <!-- PROCESOS MISIONALES-->

        <area shape="poly" coords="507,91,582,90,658,91,658,242,507,242" href="{% url 'internacionalizacion' %}" alt="internacionalizacion">
        <area shape="poly" coords="760,102,829,101,899,101,899,240,760,241" href="{% url 'comunicacion' %}" alt="comunicacion">
       
        
</main>
{% endblock %}