{% extends 'base.html' %}
{% load static %}
{% block titulo %} Política de Calidad Integral {% endblock %}

{% block contenido %}
    <div class="container ">
        <div class="text-center">
            <img src="{% static 'img/UNISANPABLO - Politica de Calidad.png' %}?version=2" alt="Política de Calidad Integral" style="max-width: 80%; height: auto; margin-top: 50px;">
        </div>
    </div>
    
    {% block footer %}
    <!-- Contenido específico del pie de página para la página Política de Calidad Integral -->
    {% endblock %}
{% endblock contenido %}
