{% extends 'base.html' %}

{% load static %}

{% block titulo %} Mapa de procesos {% endblock %}

{% block contenido %} 
{% csrf_token %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Signika+Negativedisplay=swap" rel="stylesheet">
<main>
    <section class="container-fluid">
        <div class="row">
          
      </section>
      <div class="text-center">
        <h1 class="mb-4" style="font-family: 'Signika Negative', sans-serif; font-style: italic;">MAPA DE PROCESOS </h1>
        <img src="{% static 'img/mapadeprocesos.png' %}?version=3" usemap="#mapa" class="img-fluid" alt="Descripción de la imagen" style="max-width: 200%; max-height: 100%; height: auto; width: auto;">
      </div>
    <map name="mapa">

        <!-- PROCESOS MISIONALES-->

        <area shape="poly" coords="384,146,437,103,487,81,514,179,461,215" href="{% url 'docenciac' %}" alt="Docencia de Calidad">
        <area shape="poly" coords="493,78,548,67,609,70,599,174,519,178" href="{% url 'investigacionp' %}" alt="Investigacion Pertinente">
        <area shape="poly" coords="613,70,677,92,740,140,735,198,603,175" href="{% url 'extensioyp' %}" alt="Proyección social de impacto">
    
        <!-- PROCESOS DE APOYO-->

        <area shape="poly" coords="689,249,802,260,799,354,750,341,700,327" href="{% url 'gestiondeinfraestructura' %}" alt="Gestión de la infraestructura física y tecnologica">
        <area shape="poly" coords="698,333,746,346,798,359,745,463,663,400" href="{% url 'gestionadminfinan' %}" alt="Gestión administrativa y financiera">
        <area shape="poly" coords="660,404,699,433,742,467,649,531,619,432" href="{% url 'gestionmercadeo' %}" alt="Gestión de mercadeo y admisiones">
        <area shape="poly" coords="581,443,615,434,645,533,543,547,541,442" href="{% url 'gestionjuridica' %}" alt="Gestión juridica y contractual">

        <!-- DIRECCIONAMINETO ESTRATEGICO-->

        <area shape="poly" coords="498,420,528,433,456,526,383,475,478,404" href="{% url 'talentohumanobienestar' %}" alt="Talento humano y bienestar"> 
        <area shape="poly" coords="392,376,447,364,475,402,381,470,335,391" href="{% url 'calidadintegral' %}" alt="Calidad Integral">
        <area shape="poly" coords="381,301,437,304,447,360,334,387,325,298" href="{% url 'relacionesinter' %}" alt="Relaciones Interinstitucionales">
        <area shape="poly" coords="342,226,398,205,439,300,375,297,326,294" href="{% url 'planeacionestra' %}" alt="planeacionestra">

</main>
<section class="container mt-4">
    <h2 class="mb-3"><i class="bi bi-megaphone-fill"></i> Últimas Novedades</h2>
    <div class="row row-cols-1 row-cols-md-3 g-3">
        {% for archivo in ultimos_archivos %}
            <div class="col mb-4">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">{{ archivo.titulo }}</h6>
                        <p class="card-text small">Fecha de subida: {{ archivo.fecha_creacion|date:"F d, Y H:i" }}</p>
                        <p class="card-text">Categoría: {{ archivo.categoria.nombre_categoria }}</p>
                        {% if archivo.categoria.nombre_categoria != 'Diagrama' and archivo.categoria.nombre_categoria != 'Formato' %}
                        <a href="{% url 'ver_pdf' archivo.id_archivo %}" class="btn btn-success btn-sm rounded-pill text-decoration-none ">
                            <i class="bi bi-eye-fill"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}