{% extends 'base.html' %}

{% load static %}

{% block titulo %} Mapa de procesos {% endblock %}

{% block contenido %} 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Signika+Negativedisplay=swap" rel="stylesheet">
<main>
    <section class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Mapa de Procesos</h1>
          </div>
          
      </section>
      <div class="text-center">
        <img src="{% static 'img/macropro.png' %}" usemap="#mapa" class="img-fluid" alt="Descripción de la imagen" style="max-width: 100%; max-height: 50%; height: auto; width: auto;">
      </div>
    <map name="mapa">

        <!-- PROCESOS MISIONALES-->

        <area shape="poly" coords="384,61,421,47,445,133,399,167,342,94" href="{% url 'docenciac' %}" alt="Docencia de Calidad">
        <area shape="poly" coords="480,34,528,35,523,130,450,132,428,42" href="{% url 'investigacionp' %}" alt="Investigacion Pertinente">
        <area shape="poly" coords="589,56,642,92,635,144,529,131,534,37" href="{% url 'extensioyp' %}" alt="Proyección social de impacto">
    
        <!-- PROCESOS DE APOYO-->

        <area shape="poly" coords="650,195,700,200,698,287,608,263,598,191" href="{% url 'gestiondeinfraestructura' %}" alt="Gestión de la infraestructura física y tecnologica">
        <area shape="poly" coords="648,280,696,293,650,381,575,328,607,270" href="{% url 'gestionadminfinan' %}" alt="Gestión administrativa y financiera">
        <area shape="poly" coords="609,357,646,386,566,443,539,354,572,332" href="{% url 'gestionmercadeo' %}" alt="Gestión de mercadeo y admisiones">
        <area shape="poly" coords="547,397,560,443,478,458,477,365,535,357" href="{% url 'gestionjuridica' %}" alt="Gestión juridica y contractual">

        <!-- DIRECCIONAMINETO ESTRATEGICO-->

        <area shape="poly" coords="373,366,413,333,453,356,376,432,335,400" href="{% url 'talentohumanobienestar' %}" alt="Talento humano y bienestar"> 
        <area shape="poly" coords="334,319,388,300,408,330,331,395,292,335" href="{% url 'calidadintegral' %}" alt="Calidad Integral">
        <area shape="poly" coords="323,243,376,248,387,294,291,331,278,240" href="{% url 'relacionesinter' %}" alt="Relaciones Interinstitucionales">
        <area shape="poly" coords="343,156,373,224,373,244,279,233,294,173" href="{% url 'planeacionestra' %}" alt="planeacionestra">

</main>
{% endblock %}