{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <style>
        *{
        font-family: 'Open Sans', sans-serif;
      }
      .modal-text {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    text-align: justify;
    margin-bottom: 20px;
}

    </style>
</head>
<body>
    

    <div id="modal" class="modal-container">
        <div class="modal-content">
            <h2>¡ Bienvenido {{ user.first_name }} {{ user.last_name }} al Repositorio UNISANPABLO ! </h2>
           <br>
            <p class="modal-text">
                En este espacio dedicado, almacenamos y gestionamos los procesos fundamentales que dan vida a nuestra institución. Explora nuestro Mapa de Procesos para comprender la sinergia de las áreas misionales, de apoyo y estratégicas para entender cómo trabajamos y cómo cada componente se entrelaza para construir el éxito de nuestra institución.
                <br><br>
                ¡Descubre la esencia de UNISANPABLO! Bienvenido a nuestro viaje de eficiencia y excelencia.
            </p>
            
            <div id="close" class="close">
                <a href="{% url 'cadenavalor' %}">Ingresar  </a> 
            </div>
        </div>
    </div>

    <script>
        // Redirigir a otra página después de 5 segundos (5000 milisegundos)
        setTimeout(function() {
            window.location.href = "{% url 'cadenavalor' %}";
        }, 200000); // 5000 milisegundos = 5 segundos
    </script>

</body>
</html>
